[submodule "package/armadillo-code"]
	path = package/armadillo-code
	url = https://gitlab.com/conradsnicta/armadillo-code.git
	branch = 8.500.x
	ignore = dirty
[submodule "package/pybind11"]
	path = package/pybind11
	url = https://github.com/pybind/pybind11
	ignore = dirty
[submodule "package/CppNumericalSolvers"]
	path = package/CppNumericalSolvers
	url = https://github.com/PatWie/CppNumericalSolvers.git
	ignore = dirty
[submodule "package/eigen-git-mirror"]
	path = package/eigen-git-mirror
	url = https://github.com/eigenteam/eigen-git-mirror.git
	ignore = dirty
[submodule "package/Arma_Wrapper"]
	path = package/Arma_Wrapper
	url = https://gitlab.com/sangrey/Arma_Wrapper.git
