*~
*.o
*.bak
.Rproj.user
results/*
*.DS_Store
.Rhistory
.Rapp.history
dynamic-systems.Rproj
plot/*
*.rda
*.pdf
gpds/src/RcppExports.cpp
gpds/R/RcppExports.R
*.so
gpds/man/*
gpds/tests/testthat/testout*.txt
FnLargeExperiment/rsconnect/shinyapps.io/*
gpds/testout*.txt
*.xlsx
*.xls
*.zip
*.dylib
.idea
CMakeFiles
cmake-build-debug
cmake_install.cmake
*.cbp
CMakeCache.txt
Makefile
rgpds/src/*
!rgpds/src/Rcpp*
!rgpds/src/Makevars
rgpds/src/RcppExports.cpp
rgpds/R/RcppExports.R
__pycache__
package/boost*
rgpds/man
gpds_cpp/gpds_main
