*~
*.o
*.bak
.Rproj.user
results/*
*.DS_Store
.Rhistory
.Rapp.history
dynamic-systems.Rproj
plot/*
*.rda
*.pdf
magi/src/RcppExports.cpp
magi/R/RcppExports.R
*.so
magi/man/*
magi/tests/testthat/testout*.txt
FnLargeExperiment/rsconnect/shinyapps.io/*
magi/testout*.txt
*.xlsx
*.xls
*.zip
*.dylib
.idea
CMakeFiles
cmake-build-debug
cmake_install.cmake
*.cbp
CMakeCache.txt
Makefile
rmagi/src/*
!rmagi/src/Rcpp*
!rmagi/src/Makevars
rmagi/src/RcppExports.cpp
rmagi/R/RcppExports.R
__pycache__
package/boost*
rmagi/man
cmagi/magi_main
rmagi/src/*.o

